@import url('./reset.css');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0984e3;
}

.container {
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__item {
  flex-basis: calc((100% - 90px) / 3);
  transition: transform 250ms linear;
}

.gallery__item:hover,
.gallery__item:focus {
  transform: scale(1.1);
}
